html {
	}
	
  body{
    background-color: white;
  }
  
 .head {
	 background-color: black;
	 color: white;
	 padding: 10px;
  }
 
.banner {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

.banner > li {
	float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: green;
    border-right: 1px solid #000000; 
}

.box {
   display: inline-block;
    width: 250px;
    margin: 10px;
    background-color: #E0FFFF;
    color: green;
    padding: 10px;
    vertical-align: top;
}

.image {
	display: inline-block;
    width: 275px;
    margin: 5px;
    padding: 5px;
}

.footer {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

.footer > li {
	float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    border-right: 1px solid #000000; 
}

</style>
</head>
<body>

